<head>
  <meta charset="utf-8">
  <title>{% if page.title_head %}{{ page.title_head }}{% else %}{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ "/assets/styles/main.css" | relative_url }}">
  <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}"/>

  <link href="{{ "/assets/fonts/overpass.css" | relative_url }}" rel="stylesheet">
  <link href="{{ "/assets/fonts/overpass-mono.css" | relative_url }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/static/open-iconic-bootstrap.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/static/bootstrap.min.css" | relative_url }}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
